<div class="jumbotron">
    <h1>Gif At Me</h1>
    <p class="lead">Ue this site to view the gifs you've uploaded via robort.</p>
</div>
<div class="container-fluid" ng-controller="GifsCtrl">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            Keyword Search: <input ng-model="keywordFilter">
            Select a User:
            <select ng-model="userFilter">
                <option ng-repeat="user in users | orderBy: 'name'">{{user.name}}</option>
            </select>
        </div>
        <div class="col-md-10">
            <div ng-repeat="user in users | filter:userFilter" ng-if="user.name === userFilter">
                <div ng-repeat="gif in user.gifs | filter:keywordFilter">
                    <p>{{gif.Keyword}} {{gif.AlternateIndex}}</p>
                    <p>{{gif.Url}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
