<div class="jumbotron">
    <h1>Gif List</h1>
    <p class="lead">Ue this site to view the gifs you've uploaded via robort.</p>
</div>
<div class="container-fluid" ng-controller="GifsCtrl">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            Select a User:
            <select ng-model="query.UserName">
                <option ng-repeat="user in users | orderBy: 'name'">{{user}}</option>
            </select>
        </div>
        <div class="col-md-2">
            Keyword Search: <input ng-model="query.Keyword">
        </div>
            <table class="table">
                <tr>
                    <td>Keyword</td>
                    <td>Index</td>
                    <td>URL</td>
                </tr>
                <tr ng-repeat="gif in gifs | filter:query">
                    <td>{{gif.Keyword}}</td>
                    <td>{{gif.AlternateIndex}}</td>
                    <td><img ng-src="{{gif.Url}}" /></td>
                </tr>
            </table>
        </div>
</div>
