<div class="jumbotron">
    <h1>Gif At Me</h1>
    <p class="lead">Ue this site to view the gifs you've uploaded via robort.</p>
</div>
<div class="container-fluid" ng-controller="GifsCtrl">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            Search: <input ng-model="query">
        </div>
        <div class="col-md-10">
            <ul>
                <li ng-repeat="gif in gifs"
                    <p>{{gif.Keyword}} {{gif.AlternateIndex}}</p>
                    <p>{{gif.Url}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>
